<div class="login-container">
  <h1>Login</h1>

  <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">
    <div class="form-field">
      <label for="email-address">Email address</label>
      <input
        type="text"
        id="email-address"
        placeholder="email@example.com"
        ngModel
        name="emailAddress"
      />
    </div>

    <div class="form-field">
      <label for="password">Password</label>
      <input type="password" id="password" ngModel name=" password" />
    </div>

    <div class="action-buttons">
      <button type="submit">Login</button>
      <button routerLink="/register">Sign Up</button>
    </div>
  </form>
</div>
